﻿@using DotNetOpenAuth.OpenId.RelyingParty
@model Wm.YandexAuth.Models.AuthWithYandex.AuthOpenIdModel

@{
    ViewBag.Title = "Аутентификация с OpenId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Аутентификация с OpenId</h2>

@{
    if (Model != null)
    {
        switch (Model.AuthenticationStatus)
        {
            case AuthenticationStatus.Authenticated:
                <div style="color: green">@Model.Message</div>
                break;

            default:
            <div style="color: red">@Model.Message</div>
                break;
        }
    }
    else
    {
        <a class="btn btn-default" href="/home/authwithyandexopenid?auth=true">
            <img alt="" src="http://yastatic.net/doccenter/images/help-ru/openid/freeze/6BccMZnunzxyH0L8srRDB_lPnpw.png" /> Auth
        </a>
    }
}