﻿@model Wm.YandexAuth.Models.AuthWithYandex.AuthPassportModel

@{
    ViewBag.Title = "Yandex.OAuth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
</script>
<h2>Yandex.OAuth</h2>

@{
    if (Model.Success)
    {
        <h2 style="color: green">@Model.YandexPassport.Login</h2>
        <p>Email - @Model.YandexPassport.Email</p>
        <div>
            <p>Список OpenId пользователя</p>
            <ul>
                @foreach (var openId in Model.YandexPassport.OpenIdList)
                {
                    <li>@openId</li>
                }
            </ul>
        </div>
    }
    else
    {
        <div style="color: red">@Model.Message</div>
    }
}