﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>OpenId Auth</h2>
        <div>
            <p>
                <a class="btn btn-default" href="/home/authwithyandexopenid">
                    <img alt="" src="http://yastatic.net/doccenter/images/help-ru/openid/freeze/6BccMZnunzxyH0L8srRDB_lPnpw.png" />
                    Auth
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Passport Auth</h2>
        <p>
            <a class="btn btn-default"
               href="https://oauth.yandex.ru/authorize?response_type=code&client_id=ed0530fd4de54127a61a4a3088bf3a38">
                <img alt="" src="http://habrastorage.org/getpro/habr/post_images/7a7/9be/c9e/7a79bec9e746e55c8b96a20ace37dfba.png" />
                Auth
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Log</h2>
        <p>
            <a class="btn btn-default"
               href="/home/log">
                Log
            </a>
        </p>
    </div>
</div>